*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 320px;
  margin: 0;
  color: $dark;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: auto;
}

/*@media (max-width: $tablet) {
  .container {
    max-width: $tablet;
  }
}

@media (max-width: $mobile) {
  .container {
    max-width: $mobile;
  }
}*/
