*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 320px;
  margin: 0;
  color: $dark;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin: auto;
}

.to_top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 10px 1px rgba(103, 58, 39, 0.8);
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999;

  &::after {
    content: '';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: none;
    border-bottom: 15px solid $basic;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
}

.to_top:active {
  box-shadow: 0 0 5px 3px rgba(103, 58, 39, 0.8);

  &::after {
    border-bottom-color: $accent;
  }
}

.to_top:focus::after {
  outline: none;
}

.to_top-show {
  display: block;
}
