$mobile: 767px;
$tablet: 1023px;
$middleState: 1266px;


$white: white;
$basic: #FE7865;
$accent: #F17D4B;
$dark: #2C2E3F;
$veryDark: #141517;
$lightDark: rgba(44, 46, 63, 0.7);
$tabColor: rgba(44, 46, 63, 0.3);
$gray: rgba(20, 21, 23, 0.5);

$retina-dppx: 1.5dppx;
