.feedback {
  position: relative;
  width: 1193px;
  margin: 138px auto 0 auto;
}

.feedback__bg {
  display: block;
  width: 844px;
  margin-left: 23px;
}

.feedback__bg img {
  width: 100%;
  height: auto;
}

.feedback__interface {
  position: absolute;
  top: 70px;
  right: 0;
  width: 656px;
  color: $veryDark;
  background-color: $white;
  box-shadow: 0 4px 30px rgba(41, 54, 66, 0.1);
  border-radius: 5px;
}

.feedback__interface p:first-child {
  @include font(25, 32, 600);
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}

.feedback__interface p:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 24px;
  text-align: center;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feedback__input {
  width: 269px;
  height: 50px;
  padding: 0 14px;
  border: 1px solid $gray;
}

.feedback__input--mistake + label::before {
  content: 'Данные не верны';
  position: absolute;
  top: -17px;
  left: -266px;
  width: 120px;
  @include font(12, 15);
  color: $basic;
}

.feedback__input--mistake {
  border-color: $basic;
  outline: none;
}

.feedback__label {
  position: relative;
}

.feedback__label:first-of-type::before {
  left: -286px;
}

.feedback__label--phone::after {
  content: '*';
  position: absolute;
  color: red;
  top: 5px;
  left: -274px;

}


.feedback__input:first-of-type {
  margin-right: 19px;
  padding-left: 25px;
}

.feedback__input::placeholder {
  @include font(16, 50);
  color: inherit
}

.feedback__send {
  @include redButton(176px);
  border: none;
  margin-top: 25px;
  padding: 17px 30px;
  margin-bottom: 48px;
}

@media (max-width: $middleState) {
  .feedback {
    width: 100%;
  }

  .feedback__bg {
    width: 100%;
    margin-left: 0;
  }

  .feedback__interface {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

@media (max-width: $tablet) {
  .feedback {
    margin-top: 125px;
  }


  .feedback__interface {
    top: 48.5%;
  }

  .feedback__send {
    width: 250px;
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
    padding: 19px 30px;
    margin-bottom: 52px;
  }
}

@media (max-width: $mobile) {
  .feedback {
    margin: 100px auto 0 auto;
  }

  .feedback__bg {
    display: none;
  }

  .feedback__interface {
    position: static;
    transform: translate(0, 0);
    width: 288px;
    margin: auto;
  }

  .feedback__interface p:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 18px;
  }

  .feedback__input {
    width: 100%;
    margin: 0;
  }

  .feedback__input:first-of-type {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .feedback__label:last-of-type::before {
    left: -286px;
  }

  .feedback__send {
    width: 100%;
  }
}

