.head {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  min-height: 100px;
  margin: auto;
  align-items: center;
}

.head__logo {
  margin-right: auto;
}

.head__phone {
  position: relative;
  padding-left: 92px;
  padding-right: 14px;
  @include font(18, 32);
  color: $basic;

  &::before {
    content: url("../img/phone.svg");
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 52px;
  }
}

.head__menu-opener {
  display: none;
  position: absolute;
  background-color: $basic;
  border: none;
  top: 0;
  right: 0;
  width: 72px;
  height: 50px;
  cursor: pointer;
}

@media (max-width: 1287px) {
  .head {
    margin: 0 50px;
  }
}

@media (max-width: $tablet) {
  .head {
    margin: 0;
  }

  .head--js {
    min-height: 50px;
  }

  .head__logo {
    display: block;
    margin-left: 21px;
  }

  .head__logo img {
    margin-top: 18px;
    width: 44px;
    height: 17px;
  }

  .head__phone {
    display: none;
  }

  .head__nav {
    width: 100%;
    height: 100vh;
  }

  .head__wrap-menu {
    display: flex;
  }
  .head--js .head__nav {
    position: relative;
    height: auto;
  }

  .head--js .head__wrap-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;
    z-index: 10;
  }

  .head--opened .head__wrap-menu {
    display: block;
  }

  .head--js .head__menu {
    display: none;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    margin: 0;
    padding-top: 135px;
  }

  .head--opened .head__menu {
    display: block;
  }
//  =====кнопка меню===============================

  .head--js .head__menu-opener {
    display: block;
  }

  .head--opened .head__menu-opener {
    background-color: transparent;
  }

  .head--opened .head__button-icon {
    background-color: $gray;

    &::before,
    &::after {
      background-color: $gray;
    }
  }

  .head__button-icon {
    position: absolute;
    top: 23px;
    right: 50%;
    transform: translateX(50%);
    width: 24px;
    height: 1px;
    background-color: $white;
    transition: 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -8px;
      right: 0;
      width: 24px;
      height: 1px;
      background-color: $white;
      transition: 0.3s;
    }

    &::after {
      top: 8px;
    }
  }

  .head--opened .head__button-icon {
    width: 0;
    transition: 0.3s;
    right: calc(50% - 11px);

    &::before,
    &::after {
      width: 30px;
      transform: rotate(-45deg);
      transform-origin: 87% 50%;
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

@media (max-width: $mobile) {
  .head__menu-opener {
    width: 50px;
  }

  .head__logo {
    margin-left: 16px;
  }
}
