.menu {
  display: flex;
  @include resetList;
  @include font(14, 17, 500);
  z-index: 99;
}

.menu a {
  @include resetLink;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu .menu__price {
  position: relative;
  color: $basic;

  &::before {
    content: url("../img/pointer.svg");
    position: absolute;
    width: 14px;
    height: 17px;
    top: 13px;
    left: 36px;
  }
}


@media (max-width: $tablet) {
  .menu {
    margin: 135px auto 0 auto;
    display: block;
    width: 280px;
  }

  .menu__item:not(:last-child) {
    margin: 0 0 50px 0;
  }

  .menu__item a {
    display: block;
    position: relative;
    @include font(20, 28, 600);

    &::after {
      content: '';
      position: absolute;
      top: 9px;
      right: -10px;
      width: 8px;
      height: 8px;
      border: 2px solid $lightDark;
      border-top: none;
      border-left: none;
      transform: rotate(-45deg);
    }
  }

  .menu .menu__price {
    position: relative;
    color: inherit;

    &::before {
      content: none;
    }
  }
}


