.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal--block {
  display: block;
  animation: bounce 0.6s;
}

.modal__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 728px;
  height: 444px;
  margin: auto;
  padding: 0 16px;
  background-color: $white;
}

.modal__header {
  @include font(25, 43, 600);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__label {
  position: relative;
}

.modal__input {
  width: 270px;
  height: 50px;
  padding: 0 14px;
  border: 1px solid $gray;
}

.modal__input--mistake + label::before {
  content: 'Данные не верны';
  position: absolute;
  top: -65px;
  left: -134px;
  width: 120px;
  @include font(12, 15);
  color: $basic;
}

.modal__input--mistake {
  border-color: $basic;
  outline: none;
}

.modal__input:first-of-type {
  padding-left: 25px;
}

.modal__input:last-of-type {
  margin-top: 20px;
}

.modal__input::placeholder {
  @include font(16, 50);
  color: inherit
}

.modal__label--phone {

  &::after {
    content: '*';
    position: absolute;
    color: red;
    top: -44px;
    left: -120px;
  }
}

.modal__send {
  @include redButton(176px);
  @include font(10, 12, 500);
  border: none;
  margin-top: 20px;
  padding: 17px 30px;
}

.modal__close {
  position: absolute;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  top: 20px;
  right: 20px;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    right: -3px;
    width: 29px;
    height: 1px;
    background-color: $tabColor;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $tablet) {
  .modal__wrap {
    width: 320px;
    height: 568px;
  }

  .modal__input {
    width: 100%;
  }

  .modal__send {
    width: 288px;
  }

  .modal__label {
    margin-left: -22px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}



