.price {
  display: flex;
  width: 1190px;
  padding-left: 10px;
  margin: 241px auto 0 auto;
}

.price__notice {
  @include redUnderline(100%, 1px);
  padding-right: 20px;
  padding-bottom: 28px;

  &::after {
    background-color: $tabColor;
  }
}

.price__feature {
  position: relative;
  padding-left: 29px;
  padding-right: 5px;
  margin-top: 15px;
  margin-bottom: 8px;
  line-height: 2;

  &::before {
    content: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.6138 0.210585C14.0498 0.549578 14.1285 1.17784 13.7895 1.61385L6.01453 11.6138C5.84138 11.8365 5.58223 11.9758 5.30094 11.9972C5.01966 12.0186 4.74242 11.9202 4.53757 11.7262L0.312502 7.72623C-0.0885582 7.34653 -0.105878 6.71361 0.273818 6.31255C0.653514 5.91149 1.28644 5.89417 1.6875 6.27386L5.11216 9.51608L12.2105 0.386246C12.5495 -0.0497617 13.1778 -0.128408 13.6138 0.210585Z' fill='%23FE7865'/%3E%3C/svg%3E ");
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 12px;
  }
}

.price__offer {
  display: flex;
  flex-direction: column;
  width: 370px;
  min-height: 672px;
  margin-right: 30px;
  padding: 9px 29px 27px;
  border: 1px solid $tabColor;
  border-radius: 6px;

  &:hover {
    box-shadow: 0 0 0 3px $basic;
  }

  &:hover .price__notice::after {
    opacity: 0.5;
    background-color: $basic;
  }

  &:hover .price__header {
    color: $basic;
  }

  &:hover .price__feature::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 14 12'%3E%3Cpath d='M13.61.21a1,1,0,0,1,.18,1.4L6,11.61A1,1,0,0,1,5.3,12a1,1,0,0,1-.76-.27l-4.23-4A1,1,0,1,1,1.69,6.27L5.11,9.52,12.21.39A1,1,0,0,1,13.61.21Z' fill='%23141517' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  }
}

.price__offer-economy {
  padding: 13px 29px 29px;
}

.price__info {
  width: 300px;
  order: 2;
  margin-left: 80px;
  margin-top: 66px;
}

.price__info h2 {
  @include font(55, 90, 600);
  @include redUnderline(175px, 3px);
  margin-bottom: 30px;
  padding-bottom: 17px;
}

.price__info p:first-of-type {
  @include font(16, 27);
  color: $lightDark;
}

.price__info p:last-of-type {
  @include font(22, 34, 500);
  color: $veryDark;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 14px;
}

.price__info a {
  position: relative;
  display: block;
  @include resetLink;
  @include font(20, 32);
  padding-left: 47px;
  color: black;

  &::before {
    content: url("../img/phone.svg");
    position: absolute;
    top: 0;
    left: -2px;
  }
}

.price__header {
  display: flex;
  justify-content: space-between;
  @include font(28, 34, 600);
  margin-bottom: 24px;
  color: $gray;
}

.price__header--economy {
  letter-spacing: -1px;
}

.price__header span:last-child {
  font-size: 25px;
  letter-spacing: 0;
}


.place__list {
  @include resetList;
}

.place__list--complex .price__feature--2 {
  margin-bottom: 0;
  margin-top: 0;
}

.price__bye {
  @include redButton(100%);
  padding: 30px 30px;
  margin-top: auto;
  text-align: center;
}

@media (max-width: $middleState) {
  .price {
    flex-wrap: wrap;
    width: auto;
    justify-content: space-around;
    padding-left: 0;
    margin: 100px 71px 0;
  }

  .price__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    order: 0;
    margin: 0 0 50px 0;
  }

  .price__offer {
    margin-right: 0;
  }
}

@media (max-width: $tablet) {
  .price {
    justify-content: center;
    margin: 87px 21px 0;
  }

  .price__info h2 {
    @include font(30, 45, 600);
    padding-bottom: 0;
    margin-bottom: 5px;

    &::after {
      content: none;
    }
  }

  .price__info {
    margin: 0 0 29px 0;
  }

  .price__info p:first-of-type {
    text-align: center;
  }

  .price__info p:last-of-type {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 11px;
  }

  .price__info a {
    font-size: 18px;
    padding-left: 0;
    color: $basic;
    text-decoration: underline;

    &::before {
      content: none;
    }
  }

  .price__offer {
    width: 288px;
    padding: 0;
    border-radius: 6px 6px 0 0;
    min-height: 629px;

/*    &:hover .price__feature::before {
      content: url("../img/mark.svg");
      position: absolute;
      top: 4px;
      left: 16px;
      width: 22px;
      height: 22px;
    }*/
  }


  .price__offer--complex {
    margin-right: 25px;
  }

  .price__offer-economy {
    margin-left: 25px;
  }

  .price__header {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 0;
    font-size: 24px;
  }

  .price__header > span:first-child {
    margin-bottom: 11px;
  }

  .price__notice {
    margin: 12px 20px 16px;
    padding: 0 0 9px;
    text-align: center;
  }

  .price__feature {
    padding-left: 46px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;

    &::before {
      top: 0;
      left: 18px;
    }
  }

  .place__list--complex .price__feature {
    margin-top: 0;
    margin-bottom: 0;
  }

  .place__list--complex .price__feature--1,
  .place__list--complex .price__feature--2 {
    margin-top: 5px;

    &::before {
      top: 2px;
    }
  }

  .place__list--complex .price__feature--3,
  .place__list--complex .price__feature--4 {
    margin-top: 9px;

    &::before {
      top: 3px;
    }
  }

  .price__bye {
    @include font(10, 12, 500);
    padding: 18px 30px;
  }
}


@media (max-width: $mobile) {
  .price {
    margin: 96px 16px 0;
  }

  .price__info h2 {
    @include font(24, 36, 600);
  }

  .price__info {
    margin: 0 0 39px 0;
  }

  .price__info p:last-of-type {
    margin-top: 0;
  }

  .price__offer {
    min-height: 616px;
    margin-left: calc(50% - 160px);
    margin-right: calc(50% - 160px);
  }

  .price__offer-economy {
    margin-top: 30px;
    min-height: 629px;
  }

  .price__header--economy span:last-child {
    margin-right: 12px;
  }
}
