.success {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.success__wrap {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 728px;
  height: 444px;
  margin: auto;
  padding: 0 16px;
  background-color: #FBF8F8;
}

.success__header {
  width: 399px;
  margin: auto;
  text-align: center;
}

.success--block {
  display: block;
  animation: bounce 0.6s;
}

.success__header {
  @include font(25, 43, 500);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}


.success__close {
  position: absolute;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  top: 20px;
  right: 20px;

  &::after,
  &::before
  {
    content: '';
    position: absolute;
    top: 10px;
    right: -3px;
    width: 29px;
    height: 1px;
    background-color: $tabColor;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $tablet) {
  .success__wrap {
    width: 320px;
    height: 568px;
  }
}
