.tabs {
  position: relative;
  width: 1170px;
  margin: 80px auto 0 auto;
  padding-right: 270px;
}

.tabs__wrap-guide {
  overflow: hidden;
}

.tabs__guide {
  width: 900px;
  left:0;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid $tabColor;
}

.tabs__guide a:hover,
.tabs__guide a:focus
{
  color: $basic;
}

.tabs__input {
  display: none;
}

.tabs__label {
  @include font(20, 24, 500);
  color: $tabColor;
  letter-spacing: -0.415px;
  text-decoration: none;
}

.tabs__list {
  width: 100%;
  @include resetList;
}

.tabs__item:not(:last-child) {
  display: none;
}

.tabs__item:target ~ .tabs__item:last-child {
  display: none;
}

.tabs__item:target {
  display: block;
}

@media (max-width: $middleState) {
  .tabs {
    width: auto;
    margin: 80px 50px 0 50px;
    padding-right: 0;
  }
}

@media (max-width: $tablet) {
  .tabs {
    margin: 80px 0 0 0;
    padding-right: 0;
  }

  .tabs__guide {
    left: 37px;
  }
}

@media (max-width: 400px) {

  .tabs__guide {
    left: 16px;
  }
}

@media (max-width: $mobile) {
  .tabs {
    margin-top: 23px;
  }
}
